html body #content {
    background-color: unset;
}

.instance-specific-panel .panel-body::after {
    background-image: url("/static/tos.png");
    background-size: contain;
    content: "";
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: right;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.notifications .panel-body::after {
    background-image: url("/images/pleroma-fox-tan-smol.png");
    background-size: contain;
    content: "";
    opacity: 0.06;
    z-index: 0;
    pointer-events: none;
    background-repeat: no-repeat;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}
